<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpandableTableSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>369815AA1E231D9600FA8F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>369815BE1E231D9700FA8F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>369815C91E231D9700FA8F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
